@font-face {
  font-family: "DSEG7Classic-Italic";
  src: url("../fonts/DSEG7Classic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #211f1d;
  background: linear-gradient(135deg, #262422 0%, #191716 100%);
  border: 15px solid black;
  margin: 0;
  -webkit-box-shadow: inset 0 1px 5px 1px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 5px 1px rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

* {
  position: relative;
}

a {
  color: #e2cc94;
}

#title-head {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Titillium Web', sans-serif;
  font-size: 800%;
  letter-spacing: -.05em;
  line-height: 1;
  margin-top: 5vh;
  text-align: right;
  max-width: 1600px;
}

#title-byline {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Titillium Web', sans-serif;
  font-size: 200%;
  letter-spacing: 0;
  text-align: right;
  padding: 0;
  text-align: right;
  max-width: 1600px;
  margin-top: -15px;
}

#title-byline a {
  color: #e2cc94;
}

#subtitle-head {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Titillium Web', sans-serif;
  font-size: 180%;
  font-weight: 300;
  text-align: right;
  max-width: 1600px;
  line-height: 1.1;
  margin-top: 2vh;
}

#main-content {
  margin-bottom: 5vh;
  font-size: 100%;
  text-align: center;
  max-width: 1600px;
}

#midiSetup,
#saveLoadShare {
  position: relative;
  background: transparent;
  overflow: hidden;
  background: repeating-linear-gradient(-45deg, transparent, transparent 9px, #362b0f 10px, #362b0f 0px), repeating-linear-gradient(45deg, transparent, transparent 9px, #362b0f 10px, #362b0f 0px);
  background-size: 14px 14px;
  border: 20px solid transparent;
  padding: 0;
}

.controlpanel {
  background-color: transparent;
  border: none;
  margin: 2vh 0;
}

.controlpanel h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 160%;
  margin: 0 auto 10px;
  display: inline-block;
}

.controlpanel h2:before, .controlpanel h2:after {
  content: '';
  display: block;
  width: 99999px;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -1px;
}

.controlpanel h2:before {
  right: 100%;
  margin-right: 10px;
}

.controlpanel h2:after {
  left: 100%;
  margin-left: 10px;
}

.controlpanel:first-child {
  color: #e2cc94;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: visible;
  padding: 20px 0 40px;
}

.controlpanel:first-child:before, .controlpanel:first-child:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 99999px;
  bottom: 100%;
  height: 100%;
  top: 0;
}

.controlpanel:first-child:before {
  left: 100%;
}

.controlpanel:first-child:after {
  right: 100%;
}

.controlpanel:first-child h2:before, .controlpanel:first-child h2:after {
  display: none;
}

.controlpanel:first-child h3 {
  display: inline-block;
  margin: 0 auto 10px;
}

.controlpanel:first-child h3:before, .controlpanel:first-child h3:after {
  content: '';
  display: block;
  width: 99999px;
  border-top: 2px solid #e2cc94;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -1px;
}

.controlpanel:first-child h3:before {
  right: 100%;
  margin-right: 10px;
}

.controlpanel:first-child h3:after {
  left: 100%;
  margin-left: 10px;
}

.controlitemgroup {
  background-color: transparent;
  border: none;
  padding: 20px;
  margin: 0;
  position: relative;
}

.controlitemgroup:not(:last-child) {
  margin-right: 20px;
}

.controlitemgroup:not(:last-child):after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -11px;
  width: 0;
  height: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0.8);
}

.controlitemgroup h3 {
  text-transform: uppercase;
  font-size: 120%;
  text-align: center;
  line-height: 1;
  margin-bottom: 15px;
}

.controlitemgroup label {
  line-height: 1;
  font-size: 90%;
  margin-bottom: 5px;
  text-align: center;
}

.controlitemgroup select {
  width: 100%;
  display: inline-block;
  color: #211f1d;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  outline: none;
  border: none;
  margin: 5px auto 0;
}

.controlitemgroup button {
  color: rgba(33, 31, 29, 0.8);
  font-family: inherit;
  background-color: #42cbc7;
  border: 2px solid #eee;
  border-bottom-color: #bbb;
  padding: 10px;
  border-radius: 3px;
  font-size: 90%;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 4px 2px black, inset 0 15px 15px rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 2px black, inset 0 15px 15px rgba(255, 255, 255, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
}

.controlitemgroup input[type=text],
.controlitemgroup textarea {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: #42cbc7;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.controlitemgroup #initPatchButton {
  background-color: #c39660;
}

.controlitemgroup #createSharableLinkButton {
  background-color: #ffa9ba;
}

.controlitemgroup #random_newpatch {
  background-color: #ffa9ba;
}

.controlitemgroup input[type=text].sysexParameterText {
  font-family: 'DSEG7Classic-Italic';
  color: #ec4863;
  background: rgba(0, 0, 0, 0.85);
  background: radial-gradient(ellipse at center, #30050c 0%, rgba(0, 0, 0, 0.8) 80%);
  padding: 30px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 10px #ec4863;
  width: 180px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

#saveLoadShare input {
  margin-bottom: 15px;
  padding: 15px;
  background: black;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 900px) {
  #saveLoadShare button {
    display: inline-block;
    width: 47%;
    margin-right: 2%;
  }
}

.controller {
  margin-bottom: 15px;
}

#midiSetupForm {
  text-align: center;
}

#midiSetupForm select,
#midiSetupForm input {
  margin: 0 0 15px;
}

#midiSetupForm select {
  margin-top: 10px;
}

/*slider styling*/
.sysexParameter {
  margin: 10px auto;
}

input[type=range] {
  -webkit-appearance: none;
  width: 95%;
  display: inline-block;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: black;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-box-shadow .25s ease;
  transition: -webkit-box-shadow .25s ease;
  transition: box-shadow .25s ease;
  transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 8px 4px rgba(0, 0, 0, 0.8), 0 0 0 2px black;
          box-shadow: 0 8px 4px rgba(0, 0, 0, 0.8), 0 0 0 2px black;
  border: 1px solid #333;
  border-top-color: #222;
  border-bottom-color: #666;
  border-left-width: 4px;
  border-right-width: 4px;
  height: 30px;
  width: 12px;
  border-radius: 1px;
  background: #42cbc7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: black;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 15px rgba(66, 203, 199, 0.5);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 15px rgba(66, 203, 199, 0.5);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: black;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-box-shadow .25s ease;
  transition: -webkit-box-shadow .25s ease;
  transition: box-shadow .25s ease;
  transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
  margin-top: 10px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 4px 2px black;
  border: 1px solid #444;
  border-top-color: #333;
  border-bottom-color: #666;
  border-left-width: 4px;
  border-right-width: 4px;
  height: 30px;
  width: 4px;
  border-radius: 1px;
  background: #42cbc7;
  cursor: pointer;
  margin-top: 10px;
}

.envelopeCanvasContainer {
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.envelopeCanvasContainer canvas {
  left: 0;
}

#valueDisplay {
  font-family: 'DSEG7Classic-Italic';
  color: #ec4863;
  background: rgba(0, 0, 0, 0.85);
  background: radial-gradient(ellipse at center, #5e0a18 0%, rgba(0, 0, 0, 0.8) 80%);
  padding: 30px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 10px #ec4863;
  opacity: 1;
  top: -2px;
}

.bolt {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #131211;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 10px 4px rgba(0, 0, 0, 0.5), inset 0 2px 2px rgba(255, 255, 255, 0.25);
          box-shadow: 0 10px 4px rgba(0, 0, 0, 0.5), inset 0 2px 2px rgba(255, 255, 255, 0.25);
}

.bolt:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: black;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);
          box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);
}

.bolt:nth-of-type(1) {
  top: 20px;
  left: 20px;
}

.bolt:nth-of-type(2) {
  top: 20px;
  right: 20px;
}

.bolt:nth-of-type(3) {
  bottom: 20px;
  left: 20px;
}

.bolt:nth-of-type(4) {
  bottom: 20px;
  right: 20px;
}
/*# sourceMappingURL=theme-volcafm.css.map */